<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Book Borrows</h1>
<form method="post" action="doborrowsbook">
  <table border="1px" th:object="${book}">
      <input type="hidden" th:field="*{bookId}">
      <p>Book Name</p>
      <input  th:field="*{bookName}">
      <p style="color: red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}"></p>
      <p>Category</p>
      <input  th:field="*{category}">
      <p style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
      <p>Price</p>
      <input  th:field="*{priceBook}">
      <p style="color: red" th:if="${#fields.hasErrors('priceBook')}" th:errors="*{priceBook}"></p>
      <p>Amount</p>
      <input  th:field="*{amountOfBook}" readonly>
      <p style="color: red" th:if="${#fields.hasErrors('amountOfBook')}" th:errors="*{amountOfBook}"></p>
      <P>Chose Name of client</P>
      <select th:field="*{client}">
          <option th:each="list : ${listclient}" th:text="${list.clientName}" th:value="${list.clientId}"></option>
      </select>
      <h3 style="color: red">Remenber this code to return the book</h3>
      <input readonly style="color: red"  th:field="*{code}">
      <button type="submit">Submit</button>
  </table>
    <a th:href="@{/}">Back To Menu</a>
</form>

</body>
</html>