<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>TRUONG TIN BOOK</h1>
<h3>1st Books borrows in Viet Nam</h3>
<a th:href="@{/clientlist}"  style="color: mediumvioletred;border-radius: 15px">client list</a>
<br>
<a th:href="@{/booklist}" style="color: mediumvioletred;border-radius: 15px">All book</a>
<br>
<a th:href="@{/booklistborrow}" style="color: mediumvioletred;border-radius: 15px">book ready for borrows</a>
<br>
<a th:href="@{/bookisborrows}"  style="color: mediumvioletred;border-radius: 15px">book is borrows</a>
<br>
<a th:href="@{/createbook}" style="color: mediumvioletred;border-radius: 15px">Create book</a>
<br>
<a th:href="@{/createclient}" style="color: mediumvioletred;border-radius: 15px">Create client</a>
<br>
<a th:href="@{/showreturnbook}" style="color: mediumvioletred;border-radius: 15px">return book</a>

</body>
</html>